.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header'
        'main';
        
    height: 100vh;
    max-width: 100vw;

    background-color: rgb(235,240,240);
    
    .content {
        overflow-y: auto;
        grid-area: main;
        min-height: 100%;
        border-left: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-top: 0px;
        border-style: solid;
        border-color: black;
        padding: 1rem;

    }
}

