.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

    background-color: $theme-dark;

  .brand {
    color: $theme-cyan;
    
    font-weight: bold;
    padding-left: 1.5rem;
    align-self: center;
  }
  .navItem {
      color: $theme-cyan;
      padding: 1rem 1.2rem;
      &:hover {
          background-color: $theme-cyan;
          color: $theme-dark;

      }
      &.active {
        background-color: $theme-cyan;
        color: $theme-dark;
        font-weight: bold;
      }
  }
  .links {
      display: flex;
      flex-direction: row;
  }
}
