.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $theme-blue;
  border: 2px solid black;
  z-index: 90;
  padding: 0 1.5rem;

  grid-area: header;

  .brand {
    font-weight: bold;

    align-self: center;
  }

  .navItem {
    padding: 1rem 1rem;
    &:hover {
      color: $theme-dark;
    }
    &.active {
      color: $theme-dark;
      font-weight: bold;
    }
  }
  .links {
    display: flex;
    flex-direction: row;
  }
}
