.postcard {
    border: 1px solid black;
    border-radius: 6px;
    margin: 1rem;
    padding: 0.75rem 1rem;

    background-color: rgb(127, 239, 226);
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.02);

    }
}